#talk-time-welcome {
    position:absolute;
    bottom:0;
    right:19px;
    width:400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:#42776C;
    color:white;
    border:2px solid white;
    z-index:999999;
    max-height:80vh;
    overflow:auto;
    padding:10px;
}
.talk-time-welcome-title {
    font-size:140%;
    font-weight:bold;
}
#talk-time-welcome > div {
    margin:15px;
}
#talk-time-welcome a {
    color:white;
    text-decoration:underline;
    font-weight:bold;
}
#talk-time-welcome-okay {
    display:inline-block;
    height:40px;
    padding:0 20px;
    background-color: white;
    color:#42776C;
    text-align:center;
    font-size:24px;
    line-height:24px;
    cursor:pointer;
}
#talk-time-container {
    position:absolute;
    bottom:0;
    right:5px;
    min-width:300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:2px solid #42776C;
    z-index:99999;
    max-height:600px;
    overflow-y:auto;
    font-size:80%;
}
#talk-time-container.collapsed {
    opacity: .5;
    width:auto;
    min-width:0;
}
#talk-time-container.collapsed > *, #talk-time-container.collapsed .talk-time-options-gear {
    display:none !important;
}
#talk-time-container.collapsed > .talk-time-top {
    display:block !important;
    padding:0 10px;
}

/* Options */

.talk-time-options-gear {
    fill:white;
    float:right;
    height:16px;
    width:16px;
    cursor:pointer;
}
.talk-time-options-content {
    display:none;
    min-height:200px;
    max-height:50vh;
    overflow-y:auto;
    background-color:white;
    padding:5px;
}
#talk-time-container.talk-time-options .talk-time-options-content {
    display:block;
}
#talk-time-container.talk-time-options .talk-time-header, #talk-time-container.talk-time-options .talk-time-body {
    display:none;
}
.talk-time-options-close {
    cursor:pointer;
    background-color:#42776C;
    color:white;
    margin:10px;
    border:1px solid black;
    border-radius:4px;
    padding:5px 20px;
}

/* Hide/Show Groups */
#talk-time-container .talk-time-hide-groups, #talk-time-container .talk-time-show-groups {
    float:right;
    display:inline-block;
    cursor:pointer;
}
#talk-time-container .talk-time-hide-groups {
    display:none;
}
#talk-time-container.show_groups .talk-time-hide-groups {
    display:inline-block;
}
#talk-time-container.show_groups .talk-time-show-groups {
    display:none;
}
.talk-time-group-selector-container {
    display:none;
}
#talk-time-container.show_groups .talk-time-group-selector-container {
    display:block;
}

.talk-time-top {
    background-color:#42776C;
    padding:7px 10px;
    cursor:pointer;
}
.talk-time-title {
    color:white;
    font-size:150%;
    font-weight:bold;
}
.talk-time-header {
    background-color: white;
    padding:3px;
}
.talk-time-summary {
    color:#666;
    text-transform:uppercase;
}
.talk-time-body {
    background-color:white;
    padding:5px;
}
.talk-time-table {
    border:none;
}
.talk-time-table td {
    padding:3px;
    border:none;
    white-space:nowrap;
}
td.talk-time-total, td.talk-time-pct {
    padding:0 2px;
    text-align:right;
}
.talk-time-table td.talk-time-time {
    border:1px solid #42776C;
    border-radius:4px;
    cursor:pointer;
}
.talk-time-table td.talk-time-pct {

}
.talk-time-table tr.talking td.talk-time-time {
    background-color: #A6FFDB;
}

.talk-time-group-selector,.talk-time-group-label {
    display:inline-block;
    height:14px;
    border-radius:7px;
    text-align:center;
    line-height:14px;
    cursor:pointer;
}
.talk-time-group-label {
    display:inline-block;
    min-width:24px;
    width:auto;
    padding:0 4px;
}
.talk-time-group-selector {
    width:24px;
    cursor:pointer;
    background-color:#eee;
    border:1px solid #ddd;
    color:#999;
}
.talk-time-group-selector.selected, .talk-time-group-label {
    background-color:#666;
    border:1px solid #333;
    color:white;
}

.talk-time-group-table {
    display:none;
}

